div {
border-radius: 5px;
}

.head {
z-index: 1;
position: fixed;
background-color: lightSkyBlue;
width: 97%;
height: 60px;
border: 2px dotted lightblue;
font-family: Times;
margin-top: -20px;
margin-bottom: 10px;
}

.left {
float: left;
background-color: lightblue;
width: 20%;
height: 350px;
margin-top: 55px;
margin-bottom: 10px;
border: 2px groove white;
}

.rigth{
float: right;
background-color: rgb(240, 240, 240);
width: 78%;
margin-top: 55px;
margin-bottom: 10px;
border: 2px groove white;
}

#foot {
margin-top: 20px;
margin-bottom: 10px;
clear: both;
background-color: rgb(235, 235, 235);
width: 100%;
height: 60px;
border: 2px groove white;
font-family: Times;
}

#email {
float: right;
text-decoration: none;
color: white;
margin: 10px;
}

#email:hover {
font-weight: bold;
color: gray;
}

.name {
float: left;
font-weight: bold;
color: rgb(230, 230, 230);
font-size: 1.5em;
margin: 22px 10px 10px 10px;
}

.name:hover {
color: white;
}

.content {
margin: 10px;
}

h4 {
color: lightSkyBlue;
}

#direccion {
text-align: center;
color: lightSkyBlue;
}

span:hover {
color: gray;
font-weight: bold;
}

ol {
list-style: none;
margin: 20px 0 0 -20px;
color: rgb(230, 230, 230);
font-size: 1em;
}

a {
text-decoration: none;
color: rgb(230, 230, 230);
}

a:active {
color: darkred;
}

#margen-top {
margin-top: 12px;
}
img{
  border-radius: 50%;
}
@media(max-width: 780px){
  .rigth{
background-color: rgb(240, 240, 240);
width: 100%;
margin: 0;
border: 0;
height: 100%;
}
.content {
margin: 0;
}
.left {
background-color: lightblue;
width: 100%;
height: 350px;
margin-top: 55px;
margin-bottom: 10px;
border: 2px groove white;
}
.name2{
  display: none;
}
}